/* Import Font */


/* General */
body
{
    background: url("../img/background_resume.jpg") fixed no-repeat bottom 0% right 50%;
}

#bloc_page
{
    width: 900px;
    margin: auto;
    background-color: rgb(197, 255, 195);
}

/* Presentation / Resume */
#resume
{
    display: flex;
}

.personnel, .presentation
{
    background-color: rgb(75, 131, 75);
    color: white;
    margin: 1%;
    padding: 1%;
    border-radius: 11px;
}

.presentation h1
{
    font-size: 2.5em;
    color: rgb(228, 228, 199);
}

.presentation p
{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
.presentation h2 
{
    font-size: 1.4em;
    color: rgb(255, 255, 235);
    padding-top: 1%;
    padding-bottom: 1%;
}

.objectifs
{
    font-size: 1.2em;
}

.coordonnes
{
    border-radius: 11px;
    padding-left: 5%;
    font-size: 1.2em;
}

.personnel
{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
}

img
{
    max-width: 100%;
    max-height: 100%;
    float: left;
    display: block;
    border-radius: 20%;
    height: auto;
}

.photo_profil
{
    height: 18em;
    justify-content: center;
    display: flex;
}

.presentation
{
    text-align: center;
    flex: 1;
    border-radius: 11px;
}

.specific
{
    background-color: rgb(157, 207, 157);
    border-radius: 11px;
    padding: 1%;
}

.specific h2
{
    color: black;
}

.objectifs
{
    text-align: justify;
    padding: 1%;
    border-radius: 11px;
}

.details
{
    display: flex;
}

.points_forts
{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    margin: 0.5%;
    border-radius: 11px;
    border: 1px dashed black;
}

.points_forts h2
{
    margin: 0;
    padding: 0;
    padding-left: 3%;
}

.points_forts h3
{
    text-decoration: underline;
}

.points_langues, .points_tech, .points_qualites, .points_hobbies
{
    border-radius: 11px;
    background-color: rgb(48, 94, 48);
    color: white;
    padding-left: 3%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin: 1%;
}

/* Details experiences */
#parcourt
{
    flex: 1;
}

div[id^="experience_"]
{
    display: flex;
    border-radius: 11px;
    margin: 1%;
    background-color: rgb(156, 243, 195);
    ransition: box-shadow .3s;
}

div[id^="experience_"]:hover
{
    box-shadow: 0 0 20px rgba(33,33,33,.2);
    border: 1px dashed rgb(71, 179, 120);
}

.exp_cadre
{
    width: 20%;
    text-align: center;
    background-color: rgb(28, 61, 28);
    color: white;
    border-radius: 11px;
}

.exp_description
{
    flex: 1;
    margin-left: 1%;
}

/* Formations */
.formations
{
    background-color: rgb(183, 191, 180);
    transition: box-shadow .3s;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
}

.formations:hover
{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    border: 1px dashed black;
}

/* Projets réalisés */
.projets
{
    background-color: rgb(184, 184, 251);
    padding: 1%;
    margin: 1%;
    border-radius: 11px;
    margin-bottom: 5%;
}

/* Details */
details
{
    display: none;
}
