/*
    Style général du site
*/
body
{
    background-color: rgb(224, 255, 224);
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

/* Header */
header
{
    display: flex;
}

#logo
{
    height: 150px;
    width: 150px;
}

/* Nav */


/* Footer */
footer ul
{
    list-style-type: none;
}
